In [1]:
import numpy as np 
import matplotlib.pyplot as plt
import pandas as pd

### Наш эксперимент

In [4]:
data = pd.read_csv('our.csv')
data.N /= np.max(data.N)
data.head()

         E         N
0  1065.75  0.000596
1  1079.18  0.000652
2  1092.61  0.000714
3  1106.04  0.000776
4  1119.47  0.000865

In [14]:
plt.figure(figsize=(12, 5), dpi = 200)
plt.scatter(data.E, data.N, s = 50, edgecolors='k')
plt.xlabel(r"Энергия кванта $h \nu$ [мЭв]", fontsize = 16)
plt.ylabel(r"фотоответ [отн. ед.]", fontsize = 16)
plt.grid(ls = ':')
plt.xticks(np.arange(1100, 2200, 100))
plt.xlim(1100, 2100)
plt.ylim(-0.02, 1.02)

(-0.02, 1.02)