In [1]:
import numpy as np 
import matplotlib.pyplot as plt
import pandas as pd

### Наш эксперимент

In [2]:
data = pd.read_csv('our.csv')
data.head()

         E       N
0  1065.75  0.0106
1  1079.18  0.0116
2  1092.61  0.0127
3  1106.04  0.0138
4  1119.47  0.0154

In [3]:
plt.figure(figsize=(12, 5), dpi = 200)
plt.scatter(data.E, data.N)